html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: black;

}

a:hover {
	font-size: 150%;
}

.content {
	margin-top: 32px;
}
.hero {
	background-color: rgba(360, 360, 360, .9);
	background-image-filter: blur(10px);
	max-width: 464px;
	margin: auto;
	padding-top: 64px;
	text-align: center;
	align-content: center;
	margin-bottom: 32px;
	box-shadow: 0 0 4rem 5rem rgba(360, 360, 360, .9);
}

.heroContainer {
	background-filter: blur(5rem);
	background-opacity: .4;
	width: 100%;
	margin-top: -32px;
	margin-bottom: -32px;
	padding-bottom: 64px;
    background-image: url(images/solidSplattercopy.svg), url(images/solidSplatter.svg);
    -webkit-animation: splatter 30s ease infinite;
    -moz-animation: splatter 30s ease infinite;
    -o-animation: splatter 30s ease infinite;
    animation: splatter 30s ease infinite;
    background-blend-mode: difference, difference; 
}
@-webkit-keyframes splatter {
    0%{background-position:0% 50%, 50% 25%, background-size: 100%;}
    50%{background-position:100% 50%, 0% 50%, background-size: 500%;}
    100%{background-position:0% 50%, 50% 25%, background-size: 50%;}
}
@-moz-keyframes splatter {
    0%{background-position:0% 50%, 50% 25%, background-size: 100%;}
    50%{background-position:100% 50%, 0% 50%, background-size: 500%;}
    100%{background-position:0% 50%, 50% 25%, background-size: 50%;}
}
@-o-keyframes splatter {
    0%{background-position:0% 50%, 50% 25%, background-size: 100%;}
    50%{background-position:100% 50%, 0% 50%, background-size: 500%;}
    100%{background-position:0% 50%, 50% 25%, background-size: 50%;}*/
}
@keyframes splatter {
    0%{background-position: 50% 50%, 80% 80%; background-size: 200%, 600%;}
    50%{background-position: 52% 52%, 75% 75%; background-size: 300%, 200%;}
    100%{background-position: 50% 50%, 80% 80%; background-size: 200%, 600%;}
}

#avatar {
	max-width: 40%;
}


img {
	max-width: 50%;
}



h1 {
	font-family: 'Yeseva One';
	font-size: 36px;
	opacity: .8;
	line-height: 54px;
}

h2 {
	font-family: 'Yeseva One';
	font-size: 24px;
	opacity: .8;
	line-height: 36px;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	opacity: .8;
	line-height: 24px;
}

/*Coop*/

.aboutOne {
	width: 100%;
	background-color: #EFD05F;
}

.yellowContainer {
	width: 100%;
	display: flex;
	background-color: #EFD05F; 
}

.redContainer {
	width: 100%;
	display: flex;
	background-color: #D57C6A; 
}

.greenContainer {
	width: 100%;
	display: flex;
	background-color: #6AD5B4; 
}



.content {
	padding-top: 64px;
}

.whoContainer {
	width: 95%;
	max-width: 464px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #EFD05F;
}



#who-text {
	width: 50%;
	float: right;
	background-color: #EFD05F;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	height: 64px;
	background-color: white;
	z-index: 5;
	animation: gradient 24s ease infinite;

}

@keyframes gradient {
	0% {border-bottom: 0px 5px 10px rgba(239, 208, 95, .4);}
	25% {box-shadow: 0px 5px 10px rgba(213, 124, 106, 0.4);}
	50% {box-shadow: 0px 5px 10px rgba(54, 136, 111, .4);} 
	100% {box-shadow: 0px 5px 10px rgba(239, 208, 95, .4);}
}

.header-logo {
	display: inline-block;
	margin-left: 5%;
	margin-top: 8px;
}

.navLinkLayout {
	display: inline-block;
	float: right;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	opacity: .8;
	margin-top: 24px;
	padding-right: 5%;
}

.navLink {
	padding: 4px;
}

/*Dandelion*/

.aboutTwo {
	width: 100%;
	display: inline-block;
	background-color: #D57C6A;
}

.thenContainer {
	width: 95%;
	max-width: 464px;
	margin: auto;
	background-color: #D57C6A;
	margin-top: 5%;
	margin-bottom: 5%;
}



#then-text {
	width: 50%;
	float: left;
	background-color: #D57C6A;
}


/*PB*/

.aboutThree {
	width: 100%;
	display: inline-block;
}

.whyContainer {
	width: 95%;
	max-width: 464px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;

}


#why-text {
	width: 50%;
	float: left;

}