html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: black;

}

a:hover {
	font-size: 150%;
}

.down {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



.heroContainer {
	width: 80%;
	margin-top: -32px;
	margin-bottom: -32px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 64px;
    background-image: url(images/clouds.svg), url(images/clouds2.svg), url(images/whisps.svg), url(images/whisps2.svg), url(images/sun.svg), url(images/moon.svg), url(images/stars.svg), url(images/stars2.svg) /*linear-gradient(0deg, rgba(0, 0, 0, .5)0%, rgba(0,0,0, 1) 90%)*/;
    -webkit-animation: splatter 90s linear infinite;
    -moz-animation: splatter 90s linear infinite;
    -o-animation: splatter 90s linear infinite;
    animation: splatter 24s ease infinite;
    background-blend-mode: normal, screen, overlay, multiply, normal, normal, difference, difference, normal;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
 
}


/*@-webkit-keyframes splatter {
    0%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
    50%{background-position: 100% 0%, 0% 20%; background-size: 100%, 25%;}
    100%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
}
@-moz-keyframes splatter {
    0%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
    50%{background-position: 100% 0%, 0% 20%; background-size: 100%, 25%;}
    100%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
}
@-o-keyframes splatter {
    0%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
    50%{background-position: 100% 0%, 0% 20%; background-size: 100%, 25%;}
    100%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
} */																				
@keyframes splatter {      /*   clouds  | clouds2  |whisps   | whisps2  | sun   |  moon  |   stars |   stars2 */	  			                         /*clouds, clouds2, whisps, whisps2, sun, moon, stars, stars2*/
    0%{background-position:     100% 40%, 100% 30%, -600% 40%, 500% 50%,  0% 200%, 160% 5%,    50% -600%, 100% -550%, 0% -200%;      /* 0%    */     background-size:   0%,     0%,      0%,     0%,     0%,   0%,   0%,    0%, 99%;}
    3%{background-position:    650% 40%, -650% 30%, -600% 40%,  500% 50%, 0% 200%, 160% 5%,    50% -600%, 100% -550%, 0% -200%;      /* 3%    */   background-size:    0%,    00%,      0%,    00%,     0%,  20%,   0%,    0%, 99%;}
    10%{background-position:   650% 40%, -650% 30%, -600% 40%,  500% 50%, 0% 200%, 80% 5%,     50% -600%, 100% -150%, 0% -200%;      /* 10%   */    background-size:   50%,    50%,      3%,    70%,     3%,  20%,   0%,   80%, 99%;}
    13%{background-position:   650% 40%, -650% 30%,-600% 40%,  200% 50%,  5% 200%,  80% 5%,        50%  5%,  100% 5%, 0% -200%;          /* 13%   */     background-size:  50%,    50%,     50%,    70%,     3%,  20%,  80%,   80%, 99%;}
    45%{background-position:   650% 40%, -650% 30%, 200% 40%,  -200% 50%, 5% 200%,  75% 7%,        40%   4%,  50% 4%, 0% -200%;         /* 45%   */     background-size:  80%,    80%,     90%,    70%,     3%,  20%,  80%,   80%, 99%;}
    45.5%{background-position: 650% 40%, -650% 30%, 200% 40%,  -200% 50%, 5% 140%,  75% 7%,       50% 0%, 100% -550%, 0% -200%;      /* 45.5% */   background-size:    80%,    80%,     90%,    70%,     3%,  20%,  80%,   80%, 99%;}
    51%{background-position:   650% 40%, -650% 30%,  500% 40%, -500% 50%, 0% 100%, 160% 5%,     0% -550%, 100% -550%, 0% -200%;      /* 51%   */    background-size:   80%,    80%,      3%,    70%,    40%,  20%,   0%,    0%, 99%;}
    54%{background-position:  300% 40%, -250% 30%, 500% 40%,  -500% 50%,  0% 100%, 160% 5%,     0% -550%, 100% -550%, 0% -200%;      /* 54%   */      background-size: 80%,    80%,      3%,    70%,     40%, 20%,   0%,    0%, 99%;}
    75%{background-position:  125% 40%, -100% 30%, 500% 40%,  -500% 50%,  inherit, 160% 5%,     0% -550%, 100% -550%, 0% -200%;     /* 75%   */      background-size: 80%,    80%,       3%,    70%,     40%, 20%,   0%,     0%, 99%;}
    90%{background-position:    0% 40%,  100% 30%, 500% 40%,  -500% 50%, 100% 100%, 160% 5%,    0% -550%, 100% -550%, 0% -200%;     /* 90%   */     background-size:  80%,    80%,      3%,    70%,     40%, 20%,   0%,    0%, 99%;}
    97%{background-position:  -500% 40%, 500% 30%, 500% 40%,  -500% 50%, 800% 140%, 160% 5%,    0% -550%, 100% -550%, 0% -200%;     /* 97%   */    background-size:   80%,    80%,      3%,    70%,     20%, 20%,   0%,    0%, 99%;}
    100%{background-position: -500% 40%, 500% 30%,  0% 40%,      0% 50%, 200% 100%, 160% 5%,    0% -200%, 100% -200%, 0% -200%;     /* 100%  */      background-size:  0%,     0%,     0%,     0%,      0%,  0%,   0%,    0%, 99%;}
}

.content {
	width: 100%;
	margin: auto;
	margin-top: 32px;
	animation: sunrise 24s ease infinite;

}

@keyframes sunrise {
	0% {background-color: black;}
	45% {background-color: black;}
	55% {background-color: white;}
	95% {background-color: white;}
	100% {background-color: black;}
}


img {
	max-width: 100%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.hero {
  		width: 98%;
  	}
}

.hero {
	background-color: rgba(360, 360, 360, .2);
	backdrop-filter: blur(30px) grayscale(.1) brightness(.8) ;
	mix-blend-mode: screen;
	max-width: 464px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 64px;
	padding: 5px;
	text-align: center;
	align-content: center;
	margin-bottom: 32px;
	border-radius: 20%;




	
}

#me {
	color: white;
}
.title {
	
	/*text-shadow: -2px 0px 2px white, -1px 0px 2px white, 1px 0px 2px white, 2px 0px 2px white, 0px 1px 2px white, 0px -1px 2px white;*/
	color: white;
	mix-blend-mode: overlay;
	max-width: 464px;
	margin: auto;
	margin-top: 32px;
	/*background: linear-gradient(0deg, rgba(0,0,0,0.6849112426035503) 0%, rgba(0,0,0,0.6849112426035503) 10%, rgba(0,0,0, 1) 98%, rgba(0,0,0, 1) 100%);
	box-shadow: 0 0 4rem 2rem rgba(360, 360, 360, .4);*/

}

#avatar {
	max-width: 40%;
	opacity: 1;
	mix-blend-mode: ;
	animation: spin 2s ease;
}



@keyframes spin {
	0% {}
	100%{transform: rotate(1080deg);}
}

@keyframes bigbang {
	0% {width: 0%; height: 0%;}
	100% {width: 100%; height: 100%;}
}

h1 {
	font-family: 'Yeseva One';
	font-size: 36px;
	opacity: .8;
	line-height: 54px;
}

h2 {
	font-family: 'Yeseva One';
	font-size: 24px;
	opacity: .8;
	line-height: 36px;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	opacity: .9;
	line-height: 24px;
}

/*Coop*/

.projectOne {
	width: 100%;
	height: 
	background-color: #EFD05F;
}

.yellowContainer {
	width: 100%;
	display: flex;
	background-color: #EFD05F; 
}

.redContainer {
	width: 100%;
	display: flex;
	background-color: #D57C6A; 
}

.greenContainer {
	width: 100%;
	display: flex;
	background-color: #6AD5B4; 
}



.content {
	padding-top: 64px;
}

.coopContainer {
	width: 100%;
	max-width: 464px;
	margin: auto;
	background-color: #EFD05F;
}

#coop-img {
	width: 50%;
	display: inline-block;
}

#coop-text {
	margin-top: 10%;
	width: 50%;
	float: right;
	background-color: #EFD05F;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	height: 64px;
	background-color: white;
	z-index: 5;
	animation: gradient 24s ease infinite;

}

@keyframes gradient {
	0% {border-bottom: 0px 5px 10px rgba(239, 208, 95, .4);}
	25% {box-shadow: 0px 5px 10px rgba(213, 124, 106, 0.4);}
	50% {box-shadow: 0px 5px 10px rgba(54, 136, 111, .4);} 
	100% {box-shadow: 0px 5px 10px rgba(239, 208, 95, .4);}
}

.header-logo {
	display: inline-block;
	margin-left: 5%;
	margin-top: 8px;
}

.navLinkLayout {
	display: inline-block;
	float: right;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	opacity: .8;
	margin-top: 24px;
	padding-right: 5%;
}

.navLink {
	padding: 4px;
}

/*Dandelion*/

.projectTwo {
	width: 100%;
	display: inline-block;
	background-color: #D57C6A;
}

.dandelionContainer {
	width: 100%;
	max-width: 464px;
	margin: auto;
	background-color: #D57C6A;
}

#dandelion-img {
	width: 50%;
	float: left;
	background-color: #D57C6A;
}

#dandelion-text {
	margin-top: 10%;
	width: 50%;
	float: left;
	background-color: #D57C6A;
}


/*PB*/

.projectThree {
	width: 100%;
	display: inline-block;
}

.pbContainer {
	width: 100%;
	max-width: 464px;
	margin: auto;

}

#pb-img {
	width: 45%;
	float: left;
	margin-top: 15%;
	margin-left: 5%;

}

#pb-text {
	margin-top: 25%;
	width: 50%;
	float: left;

}

button {
	width: 160px;
	height: 36px;
	border-radius: 6px;
	border-color: white;
	background-color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.yellowButton {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	align-content: center;
	background-color: #EFD05F;
	padding-bottom: 32px;
}

#coopButton {
	margin-top: 20px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	background-color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 12px;
	padding-right: 12px;
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);  

	/*padding-top:12px;
	padding-bottom:12px;
	padding-left:16px;
	padding-right:16px;*/
	border-radius: 6px;
}

.redButton {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	align-content: center;
	background-color: #D57C6A;
	padding-bottom: 32px;
}

.greenButton {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	align-content: center;
	background-color: #6AD5B4;
	padding-bottom: 32px;
}