/*DEMS DA RULES*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/*DEMS DA RULES*/

/*but I play by MY own rules*/
	body {
		width: 100%;
		margin: 0;
		margin: auto;
		max-width: 1660px;
		padding: 0;
	}
	a {
		color: black;
	
	}
	
	a:hover {
		font-size: 125%;
	}
	
	i:hover {
		font-size: 125%;
	}
	
	button {
		width: 160px;
		height: 36px;
		border-radius: 6px;
		border-color: white;
		background-color: white;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 18px;
		box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
	}
	
	
	
	
	img {
		max-width: 100%;
	}
	
	
	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 32px;
		opacity: .8;
		line-height: 54px;
		font-weight: 400;
		text-transform: uppercase;
	}
	
	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		opacity: .8;
		line-height: 36px;
		font-weight: 400;
		text-transform: uppercase;
	}
	
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		opacity: .9;
		line-height: 30px;
		font-weight: 500;
		text-transform: uppercase;
	}
	
	p {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 18px;
		opacity: .9;
		line-height: 24px;
	}
/*but I play by MY own rules*/

/*HEADER*/
		
		.header {
			position: fixed;
			top: 0;
			width: 100%;
			display: block;
			height: 64px;
			background-color: white;
			z-index: 5;
			animation: gradient 24s ease infinite;
		
		}
		
		.header-logo {
			float: left;
			display: inline-block;
			margin-left: 5%;
			margin-top: 8px;
			width: 42px;
		}
		
		.navLinkLayout {
			display: inline-block;
			float: right;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 18px;
			opacity: .8;
			margin-top: 24px;
			padding-right: 5%;
		}
		
		.navLink {
			padding: 4px;
		}
		
		
		/*header links resize*/
		@media only screen 
		  and (min-device-width: 220px) 
		  and (max-device-width: 480px)
		  and (-webkit-min-device-pixel-ratio: 2) {
		  	a.navLink {
		  		font-size: 14px;
		  	}
		  	h2 {
		  		font-size: 22px;
		  	}
		}	
/*HEADER*/



/*page specific styling*/

/*!!home.HTML!!start!!*/


	
	
	
	
	
	.homeHeroContainer {
		max-width: 900px;
		margin: auto;
		width: 100%;
		padding-top: 24px;
	    background-image: url(images/clouds.svg), url(images/clouds2.svg), url(images/whisps.svg), url(images/whisps2.svg), url(images/moon.svg), url(images/stars.svg), url(images/stars.svg);
	    background-repeat: repeat-x, repeat-x, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
	    background-blend-mode: normal; 
	    background-size: 100%, 100% 100%, 100% 100%, 100% 100%;
	}

	
																				
	
	
	
	.homeContent {
		width: 100%;
		margin: auto;
		margin-top: 32px;
	
	}
	
	.homeHeroBackground {
		margin: auto;
		margin-top: 32px;
		background-image: url(images/background2.svg), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8199513381995134) 30%, rgba(0,0,0,0.8953771289537713) 98%);
		background-repeat: repeat-x;
		mix-blend-mode: multiply;
		animation: sunrise 3s ease;
		background-position: 50% 130%;
		background-size: 700px, 100%;

	}

	
	.homeHero {
		padding-top: 250px;
		padding-bottom: 250px;
		width: 92%;
		max-width: 464px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		align-content: center;
		mix-blend-mode: normal;

	}


	
	
	.me {
		position: relative;
		font-size: 24px;
		color: black;
		mix-blend-mode: normal;
		padding-top: 32px;
		font-weight: 700;
		animation: comedown ease 1s 1;
	
	}
	
	.me2 {
		position: relative;
		color: black;
		opacity: 1;
		mix-blend-mode: overlay;
		font-size: 56px;
		text-shadow: -1px 0px 0px white, 
					 -2px 0px 0px white,
					  -3px 0px 0px white, 
					-4px 0px 0px white;
	
		padding-bottom: 8px;
		line-height: 48px;
		font-weight: 700;
		animation: comeup ease-out 2s 1, squeeze ease-out 2s 1;
	}


	
	.homeBioContainer {
		background-color: white;
		padding-top: 24px;
		padding-bottom: 24px;
		width: 100%;

	}

	.homeBio {
		max-height: 500px;
		margin: auto;
		width: 92%;
		max-width: 464px;
	}

	.checkoutContainer {
		padding-top: 16px;
		display: flex;
		width: 92%;
		max-width: 464px;
		margin: auto;
	}

	.homeCheckoutTxt {
		width: 90%;
		max-width: 464px;
		float: left;
	}

	.homeCheckoutArw {
		position: right bottom;
		max-width: 464px;
		margin: auto;
	}
	
	.down {
	  border: solid black;
	  border-width: 0 4px 4px 0;
	  display: inline-flex;
	  padding: 3px;
	  transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	}
	

	
	
	

	
	/*Coop*/
	
	.projectOne {
		width: 100%;
		background-color: #EFD05F;
		padding-top: 32px;
		padding-bottom: 32px;
	}
	
	.firstContainer {
		width: 100%;
		display: flex; 
	}
	
	.secondContainer {
		width: 100%;
		display: flex;
	}
	
	.thirdContainer {
		width: 100%;
		display: flex;
	}
	
	
	
	.coopContainer {
		width: 92%;
		max-width: 464px;
		margin: auto;
		background-color: #EFD05F;
	}
	
	.coop-img {
		width: 48%;
		float: left;
		padding-top: 15%;
		padding-bottom: 7%;
		padding-right: 2%;
	}
	
	.coop-text {
		padding-top: 20%;
		padding-bottom: 10%;
		padding-left: 2%;
		width: 48%;
		float: left;
	}
	
	.firstButton {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: auto;
		align-content: center;
		padding-bottom: 32px;

	}
	
	.coopButton {
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 18px;
		background-color: white;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 16px;
		padding-right: 16px;
		box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);  
		border-radius: 6px;
	}
	
	/*Coop*/
	
	
	
	/*Dandelion*/
	
	.projectTwo {
		width: 100%;
		display: inline-block;
		background-color: #D57C6A;
	}
	
	.dandelionContainer {
		width: 92%;
		max-width: 464px;
		margin: auto;
	
	}
	
	.dandelion-img {
		width: 48%;
		float: left;
		padding-top: 15%;
		padding-bottom: 7%;
		padding-right: 2%;
	}
	
	.dandelion-text {
		padding-top: 20%;
		padding-bottom: 7%;
		padding-left: 2%;
		width: 48%;
		float: left;
	}
	
	.secondButton {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: auto;
		align-content: center;
		padding-bottom: 32px;
	}
	/*Dandelion*/
	
	/*PB*/
	
	.projectThree {
		width: 100%;
		display: inline-block;
		padding-top: 32px;
		padding-bottom: 32px;
		background-color: #6AD5B4;
	
	}
	
	.pbContainer {
		width: 92%;
		max-width: 464px;
		margin: auto;
	
	}
	
	.pb-img {
		width: 48%;
		float: left;
		padding-top: 15%;
		padding-bottom: 7%;
		padding-right: 2%;
		
	
	}
	
	.pb-text {
		padding-top: 20%;
		padding-bottom: 7%;
		padding-left: 2%;
		width: 48%;
		float: left;
	
	}
	
	.thirdButton {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: auto;
		align-content: center;
		background-color: #6AD5B4;
		padding-bottom: 32px;
	}
	/*PB*/
/*!!home.HTML!!end!!*/


/*!!projects.HTML!!start!!*/
	.container {
		display: flexbox;
		padding-top: 64px;
		width: 92%;
		max-width: 464px; 
		margin: auto;
	}
	
	.square {
		opacity: .5;
		display: inline-flex;
		width: 23%;
		padding-bottom: 23%;
		background-color: hsla(5, 100%, 50%, 0.77);
	}
	
	
	
	.square2 {
		display: inline-flex;
		width: 25%;
		padding-bottom: 25%;
		background-color: hsla(95, 100%, 50%, 0.77);
	}
/*!!projects.HTML!!end!!*/



/*projectOne.HTML!!start!!*/
	
	.projectOneContent {
		padding-top: 64px;
		display: table;
		margin-top: 32px;
		width: 100%;
	}
	.projectOneHero {
		background-color: rgba(360, 360, 360, .9);
		background-image-filter: blur(10px);
		max-width: 464px;
		margin: auto;
		padding-top: 64px;
		text-align: center;
		align-content: center;
		margin-bottom: 32px;
		box-shadow: 0 0 4rem 5rem rgba(360, 360, 360, .9);
	}
	
	.listLeft {
		float: left;
		width: 40%;
		margin: auto;
		text-align: left;
	}
	
	.listRight {
		float: right;
		width: 40%;
		text-align: left;
	}
	.projectOneHeroContainer {
		display: flex;
		background-filter: blur(5rem);
		width: 100%;
		margin-top: -32px;
		margin-bottom: -32px;
		padding-bottom: 64px;
	    background-image: url(images/solidSplattercopy.svg), url(images/solidSplatter.svg);
	    -webkit-animation: splatter 90s linear infinite;
	    -moz-animation: splatter 90s linear infinite;
	    -o-animation: splatter 90s linear infinite;
	    animation: splatter 90s linear infinite;
	    background-blend-mode: difference, difference; 
	}

	
	
	
	
	
	
	
	.yellowContainer {
		width: 100%;
		display: flex;
		background-color: #EFD05F; 
	}
	
	.redContainer {
		width: 100%;
		display: flex;
		background-color: #D57C6A; 
	}
	
	.greenContainer {
		width: 100%;
		display: flex;
		background-color: #6AD5B4; 
	}
	
	
	
	
	
	
	

	
	/*Dandelion*/
	
	
	.sectionContainer {
		width: 92%;
		max-width: 464px;
		margin: auto;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	
	
	
	
	
	/*PB*/
	
	
	
	
	
	/*Images*/
	#solution {
		width: 90%;
		max-width: 464px;
	}
/*projectOne.HTML!!end!!*/



/*about.HTML!!start!!*/

	.content {
		width: 100%;
		margin: auto;
		background-image: url(images/background.svg);
		background-repeat: repeat-x;
		background-size: 2000px;
		animation: sunrise 3s ease 1;
	
	}
	
	.hero {
		max-width: 464px;
		margin: auto;
		text-align: center;
		align-content: center;
		margin-bottom: 32px;
	}
	
	
	.heroContainer {
		width: 100%;
		margin: auto;
		padding-bottom: 64px;
		padding-top: 64px;
	    background-image: url(images/clouds.svg), url(images/clouds2.svg), url(images/whisps.svg), url(images/whisps2.svg), url(images/moon.svg), url(images/stars.svg), url(images/stars2.svg) /*linear-gradient(0deg, rgba(0, 0, 0, .5)0%, rgba(0,0,0, 1) 90%)*/;
	    -webkit-animation: splatter 90s linear infinite;
	    -moz-animation: splatter 90s linear infinite;
	    -o-animation: splatter 90s linear infinite;
	    animation: herosky 90s linear infinite;
	    background-position: fixed;
	    background-blend-mode: normal, lighten, lighten, screen, normal, normal, normal, normal, normal;
	    background-repeat: repeat-x, repeat-x, no-repeat, no-repeat, no-repeat, no-repeat, repeat-y;
	 
	}

	
	
	
	.aboutOne {
		width: 100%;
		background-color: #EFD05F;
	}
	
	.yellowContainer {
		width: 100%;
		display: flex;
		background-color: #EFD05F; 
	}
	
	.redContainer {
		width: 100%;
		display: flex;
		background-color: #D57C6A; 
	}
	
	.greenContainer {
		width: 100%;
		display: flex;
		background-color: #6AD5B4; 
	}
	
	
	
	.content {
		padding-top: 64px;
	}
	
	.whoContainer {
		width: 95%;
		max-width: 464px;
		margin: auto;
		margin-top: 5%;
		margin-bottom: 5%;
		background-color: #EFD05F;
	}
	
	
	
	#who-text {
		width: 50%;
		float: right;
		background-color: #EFD05F;
	}
	
	.header {
		position: fixed;
		top: 0;
		width: 100%;
		display: block;
		height: 64px;
		background-color: white;
		z-index: 5;
		animation: gradient 24s ease infinite;
	
	}
	

	
	.header-logo {
		display: inline-block;
		margin-left: 5%;
		margin-top: 8px;
	}
	
	.navLinkLayout {
		display: inline-block;
		float: right;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 18px;
		opacity: .8;
		margin-top: 24px;
		padding-right: 5%;
	}
	
	.navLink {
		padding: 4px;
	}
	
	
	.aboutTwo {
		width: 100%;
		display: inline-block;
		background-color: #D57C6A;
	}
	
	.thenContainer {
		width: 95%;
		max-width: 464px;
		margin: auto;
		background-color: #D57C6A;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	
	
	
	#then-text {
		width: 50%;
		float: left;
		background-color: #D57C6A;
	}
	
	
	
	.aboutThree {
		width: 100%;
		display: inline-block;
	}
	
	.whyContainer {
		width: 95%;
		max-width: 464px;
		margin: auto;
		margin-top: 5%;
		margin-bottom: 5%;
	
	}
	
	
	#why-text {
		width: 50%;
		float: left;
	
	}
/*about.HTML!!end!!*/

/*KEYFRAME ANIMATIONS*/
	@-webkit-keyframes splatter {
	    0%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
	    50%{background-position: 100% 0%, 0% 20%; background-size: 100%, 25%;}
	    100%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
	}
	@-moz-keyframes splatter {
	    0%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
	    50%{background-position: 100% 0%, 0% 20%; background-size: 100%, 25%;}
	    100%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
	}
	@-o-keyframes splatter {
	    0%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
	    50%{background-position: 100% 0%, 0% 20%; background-size: 100%, 25%;}
	    100%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
	}
	@keyframes splatter {
	    0%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
	    50%{background-position: 100% 0%, 0% 20%; background-size: 100%, 75%;}
	    100%{background-position: 50% 50%, 100% 50%; background-size: 50%, 100%;}
	}

	@keyframes gradient {
		0% {border-bottom: 0px 5px 10px rgba(239, 208, 95, .4);}
		25% {box-shadow: 0px 5px 10px rgba(213, 124, 106, 0.4);}
		50% {box-shadow: 0px 5px 10px rgba(54, 136, 111, .4);} 
		100% {box-shadow: 0px 5px 10px rgba(239, 208, 95, .4);}
	}	

		@keyframes sunrise {
		0% {
			background-position: 0% 130%;
		}
		50% {
			background-position: 100% 125%
		}
		100% {
			background-position: 50% 130%;
		}
	}

	@keyframes spin {
		0%{
	
		}
		50%{
			transform: rotate(34deg);
		}
		75%{
			transform: rotate(-10deg);
		}
		85%{
			transform: rotate(10deg);
		}
		90%{
			transform: rotate(-5deg);
		}
		95%{
			transition: rotate(5deg);
		}
		100%{
			transform: rotate(0deg);
		}
	}

		@keyframes herosky {      /*   clouds  | clouds2  |whisps   | whisps2   |  moon  |   stars |   stars2 */	  			                         /*clouds, clouds2, whisps, whisps2, sun, moon, stars, stars2*/
		0%{
			background-size: 70%, 50%, 50%, 25%, 40%, 100%, 60%;
			background-position: -100% 0%, -200% 10%, -200% 20%, -100% 20%, 100% 5%, 50% -20%, 20% -5%;
		}
	
		50%{
			background-position: 80% 0%, 0% 10%, 0% 20%, 0% 20%, 100% 15%, 50% 10%, 80% -20%;
		}
	
		100%{
			background-size: 70%, 50%, 40%, 25%, 40%, 100%, 60%;
			background-position: -100% 0%, 200% 10%, 400% 20%, 200% 20%, 100% 5%, 150% -20%, 20% -5%;
		}
	}

			@keyframes heroskybig {      /*   clouds  | clouds2  |whisps   | whisps2   |  moon  |   stars |   stars2 */	  			                         /*clouds, clouds2, whisps, whisps2, sun, moon, stars, stars2*/
		0%{
			background-size: 60%, 40%, 40%, 25%, 25%, 60%, 40%;
			background-position: -100% 0%, -200% 10%, -200% 20%, -100% 20%, 100% 5%, 50% -70%, 20% -5%;
		}
	
		50%{
			background-position: 80% 0%, 0% 10%, 0% 20%, 0% 20%, 100% 15%, 50% -50%, 30% 20%;
		}
	
		100%{
			background-size: 60%, 40%, 40%, 25%, 25%, 60%, 40%;
			background-position: -100% 0%, 200% 10%, 400% 20%, 200% 20%, 100% 5%, 150% -70%, 20% -5%;
		}
	}


	@keyframes comedown{
		0%{
			top: -500px;
		}
		100%{
			top: 0px;
		
		}
	}

		@keyframes comeup{
		0%{
			top: 1000px;
		}
		20%{
			top: 1000px;
		}
		45%{
			top: 0px;
		}
		60%{
			top: 0px;
		}
		
		66%{
			top: 40px;,
			
		}
		
		88%{
			top: 0px;
		}
		100%{
			top: 0px;
		}
	}	

	@keyframes squeeze {
		0%{
			line-height: 48px;
		}
		20%{
			line-height: 48px;
		}
		
		45%{
			line-height: 48px;
		}
		55%{
			line-height: 30px;
		}
		60%{
			line-height: 48px; 
		}
		63%{
			line-height: 48px;
		}
		66%{
			line-height: 48px;  /*apex*/
			
		}
		72%{
			line-height: 48px;
		}
		77%{
			line-height: 48px; /*apex*/
		}
		82%{
			line-height: 48px;
		}
		85%{
			line-height: 48px; /*apex*/
		}
		88%{
			line-height: 48px;
		}
		90%{
			line-height: 48px; /*apex*/
		}
		92%{
			line-height: 48px;
		}
		94%{
			line-height: 48px; /*apex*/
		}
		96%{
			line-height: 48px;
		}
		98%{
			line-height: 48px; /*apex*/
		}
		100%{
			line-height: 48px;
		}

	}

	@keyframes bigbang {
		0% {
			opacity: 0;
		}
		80%{
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	

/*KEYFRAME ANIMATIONS*/



		@media only screen 
		  and (min-device-width: 682px) 
		  and (max-device-width: 2600px)
		  and (-webkit-min-device-pixel-ratio: 2) {
		  	.homeHeroContainer {
		  		animation: heroskybig 90s linear infinite;
		  	}
		}

		@media only screen 
		  and (min-device-width: 220px) 
		  and (max-device-width: 682px)
		  and (-webkit-min-device-pixel-ratio: 2) {
		  	.homeHeroContainer {
		  		animation: herosky 90s linear infinite;
		  	}
		}


			





/*FOOTER*/
	
	.footer {
		height: 160px;
		width: 100%;
		align-content: center;
		margin: auto;
		padding-top: 32px;
		padding-bottom: 128px;
		background-color: white;
		background-image: url(images/background2.svg);
		background-repeat: repeat-x;
		mix-blend-mode: multiply;
		background-size: 500%;
		background-position: 50% 100%;
	}
	
	
	
	.link-list {
		padding-top: 8px;
		padding-bottom: 16px;
		display: flex;
		width: 95%;
		max-width: 464px;
		margin: auto;
	}
	
	.footer-icon {
		align-content: center;
		margin: auto;
		mix-blend-mode: normal;

	}
	
	footer i {
		font-size: 36px;
		color: rgba(360, 360, 360, .8);
		text-shadow: -1px 1px 1px #6AD5B4,
					 -2px 1px 1px #6AD5B4,
					 -3px 2px 1px #D57C6A,
					 -4px 2px 1px #D57C6A,
					 -5px 3px 1px #EFD05F,
					 -6px 3px 1px #EFD05F;
	}
	
	footer h2, footer h3 {
		text-align: center;
		padding-top: 16px;
		padding-bottom: 8px;
	
	}
	
	footer p {
		text-align: center;
		width: 95%;
		max-width: 464px;
		margin: auto;
		padding-bottom: 16px;
	}
	
	footer img {
		display: flex;
		margin: auto;
		width: 42px;
		mix-blend-mode: difference;
	}
