a:active {
	text-decoration-style: none;
	text-decoration-color: none;
}

a {
	color: #1E2221;

}

button a {
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: -.5px;
	color: #1E2221;

}

button {
	border: none;
	background-color: transparent;
	font-family: inherit;
	padding: 0;
	cursor: pointer;
}

button:active {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

button:focus {
	outline: 0;
	border: none;
	font-family: inherit;
	cursor: pointer;
}


p {	
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: -.5px;
	color: #1E2221;
}

em {
	font-weight: 800;
}

li {	
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	line-height: 40px;
	color: #1E2221;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	line-height: 54px;
	font-size: 36pt;
	letter-spacing: 1.44px;
	text-transform: uppercase;
	color: #1E2221;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	line-height: 45px;
	font-size: 30pt;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #1E2221;
}


h3, .noLine {
	margin-top: 48px;
	margin-bottom: 32px;
    font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 36px;
	font-size: 24px;
	letter-spacing: .96px;
	text-transform: uppercase;
	color: #1E2221; 
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 32px;
	font-size: 20px;
	letter-spacing: .96px;
	text-transform: capitalize;
	color: #1E2221; 
}

h5 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500;
	line-height: 32px;
	font-size: 20px;
	letter-spacing: .96px;
	text-transform: capitalize;
	color: #1E2221; 
}


img {
	display: block;
}

body {

	background-color: #EBEBEB;
}


  [data-component="slideshow"] .slide {
  	position: absolute;
    opacity: 0%;
    transition: .5s ease;
  }

  [data-component="slideshow"] .slide.active {
    transition: 1s ease;
    opacity: 100%;
  }

[role="list"] {
	min-height: 300px;
	max-width: 600px;
}

.slide img {
	width: 100%;
}

img {
  	width: 100%;
  }


hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
}

/*Blog*/

.wrapper.blog {
	display: grid;
	grid-template-columns: 4% 92% 4%;
	grid-auto-flow: row;
	grid-template-rows: auto;
	grid-row-gap: 48px;
	grid-template-areas: 
	". title ."
	". b ."
	". a ."


}

.blogTitle {
	grid-area: title;
}

.post1 {
	grid-area: a;
}

.post2 {
	grid-area: b;
}



 /*Affirmative Styles*/ 

.affirmative {
	width: 100%;
}

.affirmative.footer-icon {
	padding-bottom: 32px;
}



.wrapper.affirmative {
	display: grid;
	grid-template-columns: 4% 92% 4%;
	grid-auto-flow: row;
	grid-template-rows: auto;
	grid-row-gap: 48px;
	grid-template-areas: 
	". a ."
	". b ."
	". c ."
	". d ."
	". e ."
	". f ."
	". g ."
	". h ."

}

	.hiddenContainerGrid.winner {
	display: grid;
	grid-template-columns:minmax(0,30%) minmax(0,40%) minmax(0,30%);
	grid-gap: 8px;	
	justify-content: center;
	align-items: center;
}

	.hiddenContainerGrid.winner span {
	background-color: transparent;
	box-shadow: none;
	padding-bottom: 32px;
}	

.affirmative p {
	padding: 16px;
}

.affirmative h2 {
	padding-bottom: 16px;
	padding-top: 32px;
}

.affirmative h3  {
	margin-bottom: 16px;
	padding-top: 16px;
	border-bottom: 1px dashed black;
}

.noLine {
	border: none;
}

.affirmative h4  {
	padding-top: 16px;
}

.affirmative.intro {
	grid-area: a;
}

.affirmative.goals {
	grid-area: b;
}

.affirmative.evolution {
	grid-area: c;
}

.affirmative.discover {
	grid-area: d;
}

.affirmative.definition {
	grid-area: e;
}

.affirmative.ideate {
	grid-area: f;
}

.affirmative.prototyping {
	grid-area: g;
}

.affirmative.solidify {
	grid-area: h;
}

.quote {
	width: 80%;
	margin: auto;
	padding: 16px;
}

.hidden {
	display: none;
	opacity: 0%;
	z-index: -2;
}



.affirmative.evolution {
	max-width: 400px;
}

.hiddenContainerGrid {
	display: grid;
	grid-template-columns:minmax(0,100%);
	grid-gap: 32px;	
	justify-content: center;
}

.hiddenContainerGrid img {
	width: 80%;
	margin: auto;

}

.revised  {
	max-width: 300px;
	padding-bottom: 32px;
}

.hiddenContainerGrid span {
	background-color: white;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, .1);
}

.stories h5 {
	text-align: center;
	text-decoration: underline;
	padding-top: 16px;
}
.stories p {
	padding-left: 36px;
	padding-right: 36px;
}

.fas.fa-caret-right {
	position: absolute;
	padding-top: 6px;
	font-size: 24px;
	color: black;



}

.accordion {
	background-color: #EFD05F;
	text-align: left;
	padding-left: 16px;
	width: 100%;
	border-radius: 4px;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, .2);
	z-index: 4;
}


.accordion h5 {
	padding-top: 4px;
	margin-left: 16px;
}

.figmaButton {
	transition: .3s ease;
	opacity: 1;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: .96px;
	text-transform: uppercase;
	color: #1E2221;
	width: 70%;
	display: block;
	margin: auto;
	padding-bottom: 16px;
	padding-top: 16px;
	margin-bottom: 32px;
	border: 1px solid #1E2221;
	border-radius: 4px;
	box-shadow: -2px 2px 2px gray;
	background-color: white;
}



  /*Affirmative Styles END*/ 


/*Dandelion Styles*/

.dandelion {
	width: 100%;
}

.dandelion.footer-icon {
	padding-bottom: 32px;
}



.wrapper.dandelion {
	display: grid;
	grid-template-columns: 4% 92% 4%;
	grid-auto-flow: row;
	grid-template-rows: auto;
	grid-row-gap: 48px;
	grid-template-areas:
		". a ."
		". b ."
		". c ."
		". d ."
		". e ."
		". f ."
		". g ."
		". h ."

}

.hiddenContainerGrid.winner {
	display: grid;
	grid-template-columns: minmax(0, 30%) minmax(0, 40%) minmax(0, 30%);
	grid-gap: 8px;
	justify-content: center;
	align-items: center;
}

.hiddenContainerGrid.winner span {
	background-color: transparent;
	box-shadow: none;
	padding-bottom: 32px;
}

.dandelion p {
	padding: 16px;
}

.dandelion h2 {
	padding-bottom: 16px;
	padding-top: 32px;
}

.dandelion h3 {
	margin-bottom: 16px;
	padding-top: 16px;
	border-bottom: 1px dashed black;
}

.noLine {
	border: none;
}

.dandelion h4 {
	padding-top: 16px;
}

.dandelion.intro {
	grid-area: a;
}

.dandelion.goals {
	grid-area: b;
}

.dandelion.evolution {
	grid-area: c;
}

.dandelion.discover {
	grid-area: d;
}

.dandelion.definition {
	grid-area: e;
}

.dandelion.ideate {
	grid-area: f;
}

.dandelion.prototyping {
	grid-area: g;
}

.dandelion.solidify {
	grid-area: h;
}

.quote {
	width: 80%;
	margin: auto;
	padding: 16px;
}

.hidden {
	display: none;
	opacity: 0%;
	z-index: -2;
}



.dandelion.evolution {
	max-width: 400px;
}

.hiddenContainerGrid {
	display: grid;
	grid-template-columns: minmax(0, 100%);
	grid-gap: 32px;
	justify-content: center;
}

.hiddenContainerGrid img {
	width: 80%;
	margin: auto;

}

.revised {
	max-width: 300px;
	padding-bottom: 32px;
}

.hiddenContainerGrid span {
	background-color: white;

	box-shadow: 0px 0px 7px rgba(0, 0, 0, .1);
}

.stories h5 {
	text-align: center;
	text-decoration: underline;
	padding-top: 16px;
}

.stories p {
	padding-left: 36px;
	padding-right: 36px;
}

.fas.fa-caret-right {
	position: absolute;
	padding-top: 6px;
	font-size: 24px;
	color: black;



}

.accordion {
	background-color: #EFD05F;
	text-align: left;
	padding-left: 16px;
	width: 100%;
	border-radius: 4px;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, .2);
	z-index: 4;
}


.accordion h5 {
	padding-top: 4px;
	margin-left: 16px;
}

.figmaButton {
	transition: .3s ease;
	opacity: 1;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: .96px;
	text-transform: uppercase;
	color: #1E2221;
	width: 70%;
	display: block;
	margin: auto;
	padding-bottom: 16px;
	padding-top: 16px;
	margin-bottom: 32px;
	border: 1px solid #1E2221;
	border-radius: 4px;
	box-shadow: -2px 2px 2px gray;
	background-color: white;
}



/*Dandelion Styles END*/

.seeButton {
	transition: .3s ease;
	opacity: 1;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: .96px;
	text-transform: uppercase;
	color: #1E2221;
	width: 70%;
	display: block;
	margin: auto;
	padding-bottom: 16px;
	padding-top: 16px;
	margin-bottom: 32px;
	border: 1px solid #1E2221;
	border-radius: 4px;
	box-shadow: -2px 2px 2px gray;
}

.projectButton {
	transition: 1s ease;
	opacity: 0;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 36px;
	font-size: 24px;
	letter-spacing: .96px;
	text-transform: uppercase;
	color: #1E2221;
	width: 80%;
	display: block;
	margin: auto;
	padding-bottom: 16px;
	padding-top: 16px;
	margin-bottom: 32px;
	border: 1px solid #1E2221;
	border-radius: 4px;
	box-shadow: -2px 2px 2px gray;
}

#projectButtond, #projectButtonc {
	font-size: 14px;
}
.avatar {
	display: none;
}

.modalMenu {

	transition: 1s ease;
	display: none; 
}

.modalOpen {
	animation: slideIn 0.5s ease;
	height: 300px;
	width: 200px;
	background-color: #FFFFFF;
	z-index: 3;
	position: fixed;
	right: 16px;
	top: 72px;
	display: grid;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, .2);
}

@keyframes slideIn {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.modalMenu button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 36px;
	font-size: 24px;
	letter-spacing: .96px;
	text-transform: uppercase;
	color: #1E2221;
}

.yellow {
	background-color: #EFD05F;
}

.red {
	background-color: #D57C6A;
}

.green {
	background-color: #6AD5B4;
}

.divider {
	height: 2px;
	width: 100%
	margin: auto;
}

.to {
	width: 200%;
}

.hero {
	margin-top: 80px;
	border: 2px solid white;
}



.border {
	background-color: #FFFFFF;
	border: 2px solid white;
	transition: 1s ease;
	margin-bottom: 36px;
}

.border img {
	height: 150px;
	padding-bottom: 8px;
}


.border.index p {

}
.border.about h3, .border.about p {
	display: block;
}

.border.about h3{
	padding-left: 12%;
	padding-top: 12%;
}

.pr, .pl {
	padding-left: 12%;
	padding-right: 12%;

}

.pl {
	padding-top: 6%;
}

.pr {
	padding-top: 2%;
	padding-bottom: 12%;
}

.hero[data-value='inview-top'],
.hero[data-value='inview-bottom'] {
	transition: 1s ease;
	box-shadow: -8px 8px 0 #EFD05F, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
	margin-top: 80px;
}

.a[data-value='inview-top'],
.a[data-value='inview-bottom'] {
	transition: 1s ease;
	box-shadow: -8px 8px 0 #D57C6A, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
}

.b[data-value='inview-top'],
.b[data-value='inview-bottom'] {
	transition: 1s ease;
	box-shadow: -8px 8px 0 #6AD5B4, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
}

.c[data-value='inview-top'],
.c[data-value='inview-bottom'] {
	transition: 1s ease;
	box-shadow: -8px 8px 0 #EFD05F, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
}

.d[data-value='inview-top'],
.d[data-value='inview-bottom'] {
	transition: 1s ease;
	box-shadow: -8px 8px 0 #D57C6A, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
}

.border [data-value='outview-top'] {
	background-color: #FFFFFF;
	border: 2px solid white;
	transition: 1s ease;
	margin-top: 80px;
}

.border[data-value='outview-bottom'] {
	background-color: #FFFFFF;
	border: 2px solid white;
	transition: 1s ease;
	margin-top: 80px;
}


.info {
	margin-left: 8px;
	margin-right: 8px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"ll ll"
		"lc lr"
}

.info ul {
	display: block;
}

.list {
	margin-bottom: 32px;
	margin-top: 16px;
}

.lr {
	grid-area: lr;
	padding-top: 16px;
}

.lc {
	grid-area: lc;
}

.ll {
	grid-area: ll;
}
.info h2 {
	padding-top: 32px;
}


.wrapper.index {
	display: grid;
	grid-template-columns: 8px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 8px;
	grid-template-rows: repeat(8px);
	grid-gap: 8px;
	grid-template-areas:
	". . . . . . . . . . . . .";
	grid-template-rows: auto;
}

.wrapper.about {
	display: grid;
	grid-template-columns: 16px 1fr 16px;
	grid-template-rows: 88px 1fr;
	grid-template-areas: 
		". a ."
		"b b b"
		"c c c"
		"d d d"

}

.wrapper.about h1 {
	margin-top: 36px;
	grid-area: a;
}

.boxwrapper.about {
	display: grid;
	grid-column: 2 / 3;
	grid-row: 2 / 4;
}


.header {
	display: grid;
	position: sticky;
	top: 0;
	grid-template-columns: 16px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 16px;
	background-color: #FFFFFF;
	grid-row: 1;
	grid-template-rows: repeat(4, 16px);
	z-index: 4;

}



#hidden5 img {
	padding-bottom: 32px;
}
.wrapper.Blog {
	display: grid;
	grid-template-columns: 100px 1fr 10px;
	grid-auto-rows: minmax (400px, auto);
	grid-template-areas: 
	". . a"
	". b ."
	". b ."
	". c ."
	". c ."
}




.footer {

	grid-column: 1/15;
	grid-row: 4/12;
	display: block;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	margin-bottom: -10%;

}

.footer h3 {
	margin-top: 48px;
	margin-bottom: 32px;
}

.footer img {
	width: 44px;
	margin: auto;
	margin-bottom: 32px;
}

.footer p {
	max-width: 343px;
	margin: auto;
	padding-left: 16px;
	padding-right: 16px;
}


.link-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 32px;
	margin-top: 32px;
}

.footer-icon {
	display: flex;
	font-size: 44px;
	flex: auto;
	justify-content: center;
}

.header img {
	grid-column: 2;
	grid-row: 2;
	height: 32px;
}

.button {
	display: grid;
	grid-column: 13;
	grid-row: 2/4;
	grid-template-areas: 
	  "ham"
	  "burg"
	  "er";
}

.bar {
	display: block;
	margin-bottom: 6px;
	margin-left: 32px;
	width: 44px;
	border-radius: 0px;
	height: 5px;
	background-color: #1E2221;
	box-shadow: 2px 2px 2px lightgray;
}

.ham {
	grid-area: ham;
}

.ber {
	grid-area: ber;
}

.ger {
	grid-area: ger;
}
.a, .b, .c, .d{
	background-color: #FFFFFF;
	margin-top: 36px;
} 

.boxWrapper {
	grid-column: 2 / 14;


}

.index {

	margin-bottom: 32px;
}

.affirmative {
	margin-bottom: 32px;
}

.bit {
	width: 83%;
	margin: auto;
	padding-bottom: 5%;
}

.me {
	padding-top: 9.3%
}

.blurb {
	padding-bottom: 15%;
}


.top {
	padding-top: 9.3%;
}

.bottom {
	padding-bottom: 15%;
}

.wrapper.affirmative {
	width: 100%;

}

.iframeWrapper {
	margin: auto;
	display: grid;
	grid-template-columns: 16px 1fr 16px;
	grid-template-rows: 88px 1fr 88px;
	grid-template-areas: 
		". . ."
		". b ."
		". . ."
		
}

iframe {
    grid-area: b;
    width: 100%;
    height: 667px;
    width: 375px;
    margin: auto;
}


@media only screen
and (min-width: 768px) {


	.hiddenContainerGrid.tile {
	display: grid;
	grid-template-columns:minmax(0,50%) minmax(0,50%) minmax(0,50%);
	grid-gap: 8px;	
	justify-content: center;
	align-items: flex-start;
}

.hiddenContainerGrid.tile > span:hover{
	transition: .5s ease .5s;
	transform: scale(2);


}

	.hiddenContainerGrid.winner {
	display: grid;
	grid-template-columns:minmax(0,30%) minmax(0,40%) minmax(0,30%);
	grid-gap: 8px;	
	justify-content: center;
	align-items: center;
}

	.hiddenContainerGrid.winner span {
	background-color: transparent;
	box-shadow: none;
	padding-bottom: 32px;
}	




	.wrapper.affirmative {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-auto-flow: row;
	grid-template-rows: auto;
	grid-row-gap: 48px;
	grid-template-areas: 
	". a ."
	". b ."
	". c ."
	". d ."
	". e ."
	". f ."
	". g ."
	". h ."

}

	.footer p {
	max-width: 343px;
	margin: auto;

}

.border img {
	height: 320px;
	padding-bottom: 32px;
}

	.hero {
		width: 346px;
	}
	.divider {
		width: 100%;
	}

	.sk {
		width: 50%;
	}
	.info {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"ll ll lc lr"
	}

	.info ul {
		display: block;
	}




	.ll {
		grid-area: ll;
		align-items: start;
	}
	.lr {
		grid-area: lr;
		padding-top: 16px;
	}
	.work {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-template-areas: 
		"t t t t"
		"a a a ."
		". b b b"
		"c c c ."
		". d d d"
	}

	.divider.green {
		grid-area: t;
		margin-top: 88px;
	}

	.work h2 {
		grid-area: t;
		margin-top: 40px;
	}



	.a, .b, .c, .d {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-areas: 
		"a b"
		"a b"
		"c b"
		"c b"
		"d b"
	}
	.index.a, .index.b, .index.c, .index.d {
		display: grid;

		grid-template-columns: 50% 50%;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		
		". ."
		"a b"
		"c b"
		"d b"
		". b"
		
	}


	.projectButton {
		transition: 0s;
	}



.border.about h3{
	grid-area: a;
}



.pl {
	grid-area: c;
	padding-bottom: 12%;
}
.pr {
	grid-column: 2 / 3;
	grid-row: 3 / 3;
	padding-left: 0%;
	padding-top: 6%;
}


	.index.a {
		grid-area: a;
	}

	.bottom {
		grid-area: b;
		padding:5%;
	}

	.top {
		grid-area: a;
		padding:0%;
		padding-left: 20%;		
	}

	.middle {
		grid-area: c;
		padding: 0%;
		padding-left: 20%;
	}



	.index.b {
		grid-area: b;

	}

	.index.c {
		grid-area: c;

	}

	.index.d {
		grid-area: d;

	}

		.boxTops {
		display: grid;
		grid-template-columns: 50% 400px;
	}

	.avatar {

		display: block;

		width: 320px;
		    transition: .3s ease;
	box-shadow: -8px 8px 0 #D57C6A, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 100%;
	margin-top: 80px;
	}

	.seeButton {
		grid-area: d;
		margin-left: 20%;
		
	}
.list.lr {
	padding-top: 56px;
}

}

@media only screen
and (min-width: 1024px){


	.modalMenu {


		.footer p {
	}
	max-width: 343px;
	margin: auto;

}

		.work {
		width: 100%;
		display: grid;
		grid-gap: 36px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-template-areas: 
		"t t t t"
		"a a b b"
		"a a b b"
		"c c d d"
		"c c d d"
	}

	.hero {
    transition: 1s ease;
	box-shadow: -8px 8px 0 #EFD05F, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
	margin-top: 80px;
	}

	.a, .b, .c, .d {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-areas: 
		". b"
		"a b"
		"c b"
		". b"
	}

		.index.a, .index.b, .index.c, .index.d {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		grid-template-areas:
		". ." 
		"a b"
		"c b"
		"d d"
		
	}

	.a:hover{
	transition: .3s ease;
	box-shadow: -8px 8px 0 #D57C6A, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
	margin-bottom: 0px;
	}

	

	.projectButton {
		opacity: 1;
		grid-area: d;
	}






	.b:hover{
	transition: .3s ease;
	box-shadow: -8px 8px 0 #6AD5B4, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
	margin-bottom: 0px;
	}

    .c:hover {
    transition: .3s ease;
	box-shadow: -8px 8px 0 #EFD05F, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
	margin-top: 0px;
    }

    .d:hover {
    transition: .3s ease;
	box-shadow: -8px 8px 0 #D57C6A, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	border: 2px solid black;
	border-radius: 2px;
	margin-top: 0px;
    }


		.index.a {
		grid-area: a;
	}

	.bottom {
		position: relative;
		grid-area: b;
		margin-right: 10%;
		margin-left: 10%;
	}

	.top {
		grid-area: a;
		margin-top: 10%;
		
	}

	.middle {
		grid-area: c;
		margin-bottom: 10%;
		position: relative;
	}



	.index.b {
		grid-area: b;

	}

	.index.c {
		grid-area: c;

	}

	.index.d {
		grid-area: d;

	}

	.boxTops {
		display: grid;
		grid-template-columns: 50% 25% 25%;
	}

	.avatar {
		width: 320px;
		transition: .3s ease;
	    box-shadow: -8px 8px 0 #D57C6A, -9px 9px 0 black, -9px 7px 0 black, -7px 9px 0 black;
	    border: 2px solid black;
	    border-radius: 100%;
	    margin-top: 80px;
	}

	.boxWrapper {
	grid-column: 3 / 13;
    }

    .header img {
    	grid-column: 3;
    }

    .header button {
    	grid-column: 12;
    }

    .boxwrapper.about {
	display: grid;
	grid-column: 2 / 3;
	grid-row: 2 / 4;
	margin-left: 112px;
	margin-right: 112px;
	}

	.me2 {
		margin-left: 112px;
	}

	.c img {
		width: 70%;
	}
.list.lr {
	padding-top: 56px;
}

}

@media only screen
and (min-width: 1224px){
.modalMenu {
	right: 18%;
}
		.footer p {
	max-width: 343px;
	margin: auto;

}

.list.lr {
	padding-top: 56px;
}

	.boxWrapper {
	grid-column: 4 / 12;
    }

    .header img {
    	grid-column: 4;
    }


  
    .link-list {
    	display: grid;
    	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    }

    .footer-icon.lin{
    	grid-column: 2;
    }
    .footer-icon.git{
    	grid-column: 3;
    }
    .footer-icon.inst{
    	grid-column: 4;
    }
    .footer-icon.mail{
    	grid-column: 5;
    }

    .wrapper.about {
	display: grid;
	grid-template-columns: 16px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 16px;
	grid-template-rows: 120px 1fr;
	grid-template-areas: 
	". . a a a a a a a a a a a ."
    ". b b b b b b b b b b b b ."
    

}

    .boxwrapper.about {

    display: grid;
	grid-column: 3 / 13;
	grid-row: 2;
	}


	  .header button {
    	grid-column: 11;
    }


}

